# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.vite/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Docker
pgdata/

# Coverage
coverage/
.vercel
.env*
